.app
{
    border-radius: 4px;
    margin-top: 30px;
    padding: 30px;
    background: #fff;
}
h1 {
    position: relative;
    text-align: center;
    top: 40%;
    widows: 100%;
}
.img
{
    background-image: url('/assets/img/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 99.8vh;
}