<div class="row">
    <div class="col-sm-4 app">
      <div *ngFor="let p of personaData">
        <p>{{p.email}}</p>
        <p>{{p.firstName}} {{p.lastName}}</p>
      </div>
      <a class="text-dark" routerLink="/products">
        <i class="fa-solid fa-network-wired"></i> Products
      </a>
    </div>
    <div class="col-sm-8">
      <div class="img">
        <div class="lista">
            <h5>Nuevo Productos</h5>
            <br>
            <form [formGroup]="formValue">
                <div class="form-row">
                  <div class="form-group col-md-9">
                    <label for="">Nombre</label>
                    <input type="text" formControlName="title" name="title" class="form-control">
                  </div>
                  <div class="form-group col-md-3">
                    <label for="">Precio</label>
                    <input type="number" step="0.00" formControlName="price" name="price" class="form-control">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="">Descripcion</label>
                    <textarea formControlName="description" name="description" cols="74" rows="4"></textarea>
                  </div>
                </div>
                <button type="submit" (click)="cancelar()" class="btn btn-danger">Cancelar</button>
                <button type="submit" (click)="postProductosDetails()" class="btn btn-success float-right">Guardar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  